.title {
  font-family: var(--font-comfortaa);
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--font-color);
}

.form {
  max-width: 335px;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  justify-content: center;
  height: 100vh;
}
.inputTitle {
  font-family: var(--font-lato);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--font-color);
}
.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputGroup p {
  font-size: 14px;
  margin: 0;
}

.input {
  font-weight: 400;
  line-height: 150%;
  background: var(--secondary-btn-disabled);
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 8px 12px;
  font-size: 14px;
  width: 335px;
  height: 40px;
}

.input:focus,
.input:hover {
  border: 2px solid var(--accent-color);
  border-radius: 12px;
  border-color: var(--accent-color);
  outline: none;
}

.spanText {
  text-align: center;
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}
.spanLink {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.spanLink:active {
  color: var(--accent-color);
}

.submitButton {
  background: var(--btn-color);
  border-bottom: var(--btn-color-bottom);
  border-radius: 100px;
  padding: 10px 24px;
  width: 335px;
  height: 42px;

  transition:
    background var(--primary-transition),
    border-bottom var(--primary-transition);
  cursor: pointer;
}
.submitButton:hover,
.submitButton:focus {
  pointer-events: all;
  background: var(--btn-hover);
  border-bottom: var(--btn-hover-bottom);
}
.submitButton:active {
  background: var(--btn-active);
  border-bottom: var(--btn-active-bottom);
}
.submitButton:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.error {
  color: var(--error-color);
  font-size: 14px;
  margin-top: 4px;
}

/* Tablet */
@media (min-width: 767px) {
  .title {
    font-size: 48px;
  }
  .input {
    width: 480px;
    font-size: 16px;

    height: 37px;
  }
  .form {
    max-width: 480px;
  }
  .submitButton {
    width: 480px;
    height: 46px;
  }
}

/* Desktop */
@media (min-width: 1439px) {
  .input {
    font-size: 16px;
    height: 40px;
  }
  .title {
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}
