/* mobile */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
  margin-top: 16px;
}

.wrapper {
  width: 100%;
}

.avatarUser {
  border-radius: 50%;
  object-fit: cover;
}

.nameUser {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-scheme-text);
  margin-top: 16px;
  margin-bottom: 4px;
}

.emailUser {
  margin-bottom: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: var(--color-scheme-text);
  text-align: center;
}

.btn {
  padding: 8px 10px;
  width: 100%;
  border-radius: 100px;
  border-bottom: 4px solid var(--opacity-neutral-darkest-15);
  background: var(--opacity-neutral-darkest-5);
  font-size: 14px;
  font-weight: 500;
  color: #111;
  transition:
    background 500ms linear,
    border-color 500ms linear,
    opacity 500ms linear;
}

.btn:hover,
.btn:focus {
  background: var(--color-scheme-foreground);
}

.btn:active {
  background: var(--color-scheme-accent);
  border-color: transparent;
}

.btn:disabled {
  background: var(--opacity-neutral-darkest-5);
  opacity: 0.3;
}

/* tablet */

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .btn {
    width: 218px;
  }
}
