/* Светло-зеленый спиннер */
.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid rgba(144, 238, 144, 0.3); /* светло-зеленый прозрачный */
  border-top: 4px solid #90ee90; /* светло-зеленый */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Анимация вращения */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
