.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  position: relative;
  border-radius: 40px;
  padding: 48px 20px;
  width: 334px;
  min-height: 657px;
  max-width: 768px;
}