@media screen and (min-width: 1440px) {
  .diaryDescWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 32px;
    width: 1128px;
    height: 791px;
    padding: 32px;
    width: 1128px;
    height: 791px;
  }
}
