.list {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  user-select: none;
  -ms-overflow-style: none;
  margin-bottom: 15.2px;
  margin-right: -20px;
  margin-left: -20px;
}

::-webkit-scrollbar {
  width: 0px;
}

.list-item {
  flex-shrink: 0;
  list-style: none;
}
