.dbcontainer {
  /*padding: 0 20px;*/
  padding-top: 16px;
  padding-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .dbcontainer {
    /*padding-left: 32px;*/
    /*padding-right: 32px;*/
  }
}
@media only screen and (min-width: 1440px) {
  .dbcontainer {
    padding-bottom: 32px;
    gap: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
