.dbcontainer {
  padding-top: 16px;
  padding-bottom: 32px;
}

@media only screen and (min-width: 1440px) {
  .desktopWrapper {
    display: flex;
    flex-direction: row;
    column-gap: 32px;
  }
}
