body {
  font-family: var(--font-lato), var(--font-comfortaa), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
:root {
  --secondary-bg-color: #fff4f6;
  --third-bg-color: #ffdae0;
  --accent-color: #ffcbd3;
  --btn-color: #ffdae0;
  --btn-hover: #ffffff;
  --btn-active: #b2b2b2;
  --btn-disabled: #ffdae0;
  --secondary-btn: rgba(0, 0, 0, 0.05);
  --secondary-btn-hover: #fff4f6;
  --secondary-btn-active: #ffcbd3;
  --secondary-btn-disabled: rgba(0, 0, 0, 0.05);
  --error-color: #c60000;
  --font-color: #000000;
  --primary-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --input-color: #f2f2f2;
  --placeholder-color: #7f7f7f;
  --btn-border-radius: 100px;
  --input-border: #ffffff26;
  --input-hover: #0000000d;

  --btn-color-bottom: 4px solid #ffcbd3;
  --btn-hover-bottom: 4px solid #00000026;
  --btn-active-bottom: 4px solid #00000026;
  --btn-disabled-bottom: 4px solid #ffcbd3;
  --secondary-btn: #0000000d;
  --secondary-btn-disabled: #0000000d;
  --secondary-btn-color-bottom: 4px solid #00000026;

  /* ///////////////ruslan///////////// */
  --color-scheme-foreground: var(--secondary-bg-color);
  /* ///////////////ruslan///////////// */
}
