@import "modern-normalize";
body {
    font-family: var(--font-lato), var(--font-comfortaa), sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #fff;
}
:root {
    --secondary-bg-color: #FFCBD3;
    --accent-color: #FFDAE0;
    --btn-color: #FFCBD3;
    --btn-hover: #FFFFFF;
    --btn-active:#B2B2B2;
    --btn-disabled: #FFDAE0;
    --secondary-btn: rgba(0, 0, 0, 0.05);
    --secondary-btn-hover: #FFF4F6;
    --secondary-btn-active: #FFCBD3;
    --secondary-btn-disabled: rgba(0, 0, 0, 0.05);
    --error-color: #C60000;
    --font-color: #000000;
    --primary-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --input-color: #F2F2F2;
    --placeholder-color: #7F7F7F;
}