.container {
  display: flex;
  min-height: 100vh;
  position: relative;
}

.formSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}

.imageSection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Desktop */
@media (max-width: 1439px) {
  .imageSection {
    display: none;
  }
}
