.container {
  display: flex;
  min-height: 100vh;
  position: relative;
}

/* .logo {
  position: absolute;
  top: 21px;
  left: 68px;
}

.logoLink {
  display: flex;
  gap: 12px;
}

.logoText {
  font-size: 24px;
  font-weight: 700;
  white-space: nowrap;
  letter-spacing: 2px;
} */

.formSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}

.imageSection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .imageSection {
    display: none;
  }
}
