/* mobile */

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  color: #111;
  gap: 8px;
}

.input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--opacity-neutral-darkest-60);
  border: 2px solid var(--opacity-transparent);
  padding: 8px 12px;
  border-radius: 12px;
  background: var(--opacity-neutral-darkest-5);
  transition: border-color 500ms linear;
  outline: none;
}

.input:focus,
.input:hover {
  border-color: var(--color-scheme-accent);
}

.inputError {
  border-color: var(--color-red);
}
.inputError {
  border-color: var(--color-red);
}

/* .select {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--opacity-neutral-darkest-60);
  border: 1px solid var(--opacity-transparent);
  padding: 8px 12px;
  border-radius: 12px;
  background: var(--opacity-neutral-darkest-5);
  transition: border-color 500ms linear;
}

.select:focus,
.select:hover {
  border-color: var(--color-scheme-accent);
} */

.selectError {
  border-color: var(--color-red);
}

.error {
  position: absolute;
  bottom: -20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: var(--color-red);
}

.actions {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;
}

.btnCancel {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-scheme-text);
  padding: 8px 10px;
  min-width: 160px;
  border-bottom: 4px solid var(--opacity-neutral-darkest-15);
  border-radius: 100px;
  background: var(--opacity-neutral-darkest-5);
  transition:
    background 500ms linear,
    border-color 500ms linear,
    opacity 500ms linear;
}

.btnCancel:hover,
.btnCancel:focus {
  background: var(--color-scheme-foreground);
  border-color: var(--opacity-neutral-darkest-15);
}

.btnCancel:active {
  border-color: transparent;
  background: var(--color-scheme-accent);
}

.btnCancel:disabled {
  opacity: 0.3;
}

.btnSave {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-scheme-text);
  padding: 8px 10px;
  min-width: 160px;
  border-bottom: 4px solid var(--color-scheme-accent);
  border-radius: 100px;
  background: var(--color-scheme-foreground-alt);
  transition:
    background 500ms linear,
    border-color 500ms linear,
    opacity 500ms linear;
}

.btnSave:hover,
.btnSave:focus {
  background: var(--color-scheme-background);
  border-color: var(--color-scheme-border);
}

.btnSave:active {
  background: var(--color-neutral-light);
  border-color: transparent;
}
.btnSave:disabled {
  opacity: 0.3;
}

/* tablet */

@media screen and (min-width: 768px) {
  .actions {
    justify-content: end;
  }
}

/* desktop */

@media screen and (min-width: 1440px) {
  .label {
    font-size: 16px;
  }
  .input {
    font-size: 16px;
  }
  .btnCancel {
    font-size: 16px;
  }
  .btnSave {
    font-size: 16px;
  }
}
