.babyTodayCard {
  margin-bottom: 24px;
  border-radius: 32px;
  background: var(--color-scheme-foreground);
  padding: 24px;
}
.babyTodayCard_title {
  font-weight: 700;
  font-size: 20px;

  line-height: 1.4;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
  margin-bottom: 16px;
  font-family: var(--font-comfortaa);
}
.babyTodayCard_img {
  border: 1px solid var(--color-scheme-border);
  border-radius: 24px;
  width: 287px;
  height: 216px;
  margin-bottom: 16px;
  object-fit: cover;
}
.babyTodayCard_info {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.babyTodayCardWeight {
  font-weight: 700;
}
.text {
  font-size: 14px;
  font-family: var(--font-lato);
  line-height: 1.5;
  color: var(--color-scheme-text);
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .babyTodayCard_img {
    width: 257px;
    height: 194px;
    margin-bottom: 0px;
  }
  .babyTodayCard_wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
  }
}
@media only screen and (min-width: 1440px) {
  .babyTodayCard {
    width: 642px;
    height: 422px;
    overflow-y: auto;
  }
  .babyTodayCard_title {
    font-size: 24px;
  }
  .text {
    font-size: 16px;
  }
}
