.breadcrumbsWrapper {
  height: 24px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.breadcrumbsList {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  overflow-x: auto;

}

.breadcrumbsItem {
  white-space: nowrap;
  color: var(--color-neutral);
  font: var(--text-small-normal);

}

.breadcrumbsItem1 {
  white-space: nowrap;
  font: var(--text-small-normal);

  display: flex;
  gap: 8px;
  align-items: center;
}

.breadcrumbsLink {
  text-decoration: none;
}

.breadcrumbsLink:hover {
  text-decoration: underline;
}

/* ≥1440: desktop */
@media (min-width: 1440px) {
  .wrap {
    padding: 0 32px;
  }

  .item {
    font-size: 16px;
  }
}