.feelingCheckCard {
  border-radius: 32px;
  background: var(--color-scheme-foreground);
  padding: 24px;
}
.title {
  font-family: var(--font-comfortaa);
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--font-color);
  margin-bottom: 8px;
}

.recWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.recTitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: var(--font-color);
  font-family: var(--font-lato);
}
.recText {
  font-size: 14px;
  line-height: 150%;
  color: var(--font-color);
  font-family: var(--font-lato);
}
.button {
  background: var(--btn-color);
  border-bottom: var(--btn-color-bottom);
  border-radius: 100px;
  padding: 10px 24px;
  width: 225px;
  max-height: 42px;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: var(--font-color);
  font-family: var(--font-lato);
  transition:
    background var(--primary-transition),
    border-bottom var(--primary-transition);
}
.button:hover,
.button:focus {
  background: var(--btn-hover);
  border-bottom: var(--btn-hover-bottom);
}
.button:active {
  background: var(--btn-active);
  border-bottom: var(--btn-active-bottom);
}
@media screen and (min-width: 768px) {
  .title {
    max-width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .title {
    font-size: 24px;
  }
  .recTitle {
    font-size: 16px;
  }
  .recText {
    font-size: 16px;
  }
  .button {
    font-size: 16px;
    width: 250px;
    max-height: 46px;
  }
}
