.container {
  position: relative;
  width: 100%;
}

.trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 12px;
  background-color: var(--color-neutral-lightest);
  color: var(--opacity-neutral-darkest-60);
  border: 2px solid var(--opacity-transparent);
  border-radius: 12px;
  transition: all 500ms linear;
  cursor: pointer;
  outline: none;
}

.trigger:focus,
.trigger:hover {
  border-color: var(--color-scheme-accent);
}

.trigger.open {
  background-color: var(--opacity-neutral-darkest-5);
  border-color: var(--color-scheme-accent);
}

.trigger.error {
  border-color: var(--color-red);
}

.trigger.error:focus,
.trigger.error.open {
  border-color: var(--color-red);
}

.value {
  flex: 1;
  text-align: left;
  color: var(--opacity-neutral-darkest-60);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.value.placeholder {
  color: #999999;
  font-weight: 400;
}

.selectArrow {
  width: 20px;
  height: 20px;
  transform: rotate(0deg);
  transition: transform 0.2s ease;
  margin-left: 8px;
  flex-shrink: 0;
}

.selectArrowOpen {
  transform: rotate(180deg);
}

.hiddenInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

/* tablet */

@media (max-width: 768px) {
}

/* desktop */

@media screen and (min-width: 1440px) {
  .value {
    font-size: 16px;
  }
}
